* {
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #020621;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

img {
  height: 100%;
}

.logo__wrapper {
  height: 3em;
}

.login__buttons{
  display: flex;
  align-items: center;
}

button {
  font-size: 1.5em;
  margin: 0 0.5em;
  padding: 0.15em 0.75em;
  height: min-content;
}

.click:hover {
  scale: 1.1;
  cursor: pointer;
}

.reg__btn {
  background-color: #020621;
  color: white;
  border: 1px solid white;
  border-radius: 0.5em;
  transition: all 300ms ease;
}

.reg__btn:hover {
  background-color: white;
  color: #020621;
}

.log__btn {
  background-color: white;
  color: #020621;
  border: 1px solid white;
  border-radius: 0.5em;
  transition: all 300ms ease;
}

.logout__btn {
  background-color: red;
  color: black;
  border: 2px solid red;
  border-radius: 0.5em;
  transition: all 300ms ease;
}

.logout__btn:hover{
  border: 2px solid white
}

.profile__wrapper{
  margin: 0 0.5em;
  display: flex;
  height: 4em;
  border-radius: 100%;
  border: 2px solid white;
  overflow: hidden;
  transition: all 300ms ease;
}

.profile__pic{
  aspect-ratio: 1 / 1;
  scale: 1.3;
  transform: translateY(4px);
}

h1{
  color: white;
}

.logload{
  background-color: grey;
}