* {
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
}

html{
    background-color: #020621;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.logo__wrapper img{
    height: 100%;
}

.logo__wrapper{
    height: 3em;
}

button{
    font-size: 18px;
    margin: 0 0.5em;
    padding: 0.15em 0.75em;
}